In [ ]:
import pandas as pd
import sqlite3

conexao = sqlite3.connect('../db/olist.db')

with open('sql\queries.sql','r') as dados:
    query = dados.read()

df = pd.read_sql(query,conexao)

OperationalError: unable to open database file